<div id='centerer'>
  <div id='menu'>
    <img src='assets/search.png' id='search-btn' onclick="openPage(this)" class='nav-btn'/>
    <img src='assets/compass.png' id='explore-btn' onclick="openPage(this)" class='nav-btn'/>
  </div>
  <div id='content'>
    <canvas style='display: none;'id='myCanvas'></canvas>
    <input placeholder="'opus by bbno$'" type='text' id='search-input' style='width: 200px;'></input>
    <div id='results'></div>
  </div>
</div>